extends layout

block content
  button(type="button",onclick='goto()') Go
  a(style="display:hidden;")
  style.
    #content {
      background-color: #E1EEFF;
      background-image: url("assets/background.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      height: 600px;
    }
    
    #priceContainer {
      background-color: white;
      height: 200px;
      left: 40%;
      opacity: 0.8;
      position: absolute;
      top: 45%;
      width: 200px;
      text-align:center;
      font-size: 2em;
    }
    
    #priceDisplay {
      padding: 0.5em;
    }
  script.
    var goto = function(){
      $.ajax({
        url:'/authorize'
      }).done(function(data){
        if(data.status !== 'error'){
          console.log(data);
          $('a').attr('href',data.data.authurl.href);
          $('a').get(0).click();
        }
      });
    }